* {
  box-sizing: border-box;

}


.carta{
  position: relative;
  margin: 0 auto;
     width: 400px;
     height: 450px;
     background: #DAA520;
     border-radius: 5% 5% 20% 20% / 20% 20% 20% 20%;
     text-align: center;
}

.carta img{
  margin: 0 auto;
  top: 2em;
}

.lingard{
position: absolute;
margin: 0 auto;
right: 0;
left: 0;
width: 162px;
height: 162px;

}


.manchester{
position: relative;
margin: 0 auto;
  height: 50px;
  bottom: -6em;
  width: 50px;
  right: 4em;


}

.bandera{
  position: relative;
  width: 50px;
  height: 30px;
  left: 1.5em;
  top: 0;
}


.caja-abajo{
  position: absolute;
  margin: 0 auto;
  bottom: 31.75em;
  left: 0;
  right: 0;
  width: 400px;
  height: 255px;
  background-color: #B8860B;

  border-radius: 20% 20%  20% 20% / 0%  0% 20% 20%
}


.linea2{
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 3em;
  width: 300px;
  height: 1px;
  background-color: black;
  border: thin solid black;
}


.linea3{
  position: absolute;
  transform: rotate(90deg);
  margin: 0 auto;
  top: 8em;
  left: 0;
  right: 0;
  width: 100px;
  height: 1px;
  background-color: black;
  border: thin solid black;
}


.linea4{
  position: absolute;
  margin: 0 auto;
  bottom: 2.5em;
  left: 0;
  right: 0;
  width: 45px;
  height: 1px;
  background-color: black;
  border: thin solid black;
}


#media {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 17em;
  width: 150px;
  height: 45px;
  top: 1em;
  font-size: 25px;
}



#posicion{
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 17em;
  width: 150px;
  height: 45px;
  top: 2em;
  font-size: 25px;
}




#ritmo{


}
